

{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-container">

        <table>                                         {# tabela #}
            <thead>                                     {# cabeçalho #}
                <tr>                                    {# linha / table row #}
                    <th>Instrutor</th>                 {# coluna #}
                    <th>Aulas</th>
                    <th></th>

                </tr>       
            </thead>
            <tbody>                                     {# corpo #}

                {% for instructor in instructors %}
                    <tr>                                {# linha / table row #}
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url }})">
                            </span>
                            {{ instructor.name }}
                        </td>                      
                        <td>
                            {% for service in instructor.services %}
                                <span>
                                    {{ service }}
                                </span>
                            {% endfor %}
                        </td> 
                        <td>
                            <a href="/instructors/{{ instructor.id }}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock content %}